# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# ignore build dir
LeetCode-CPP/out/*

# ignore special file
LeetCode-CPP/L[0-9]*.cpp

# ignore shell command
*.sh

# ignore Java config and build file
LeetCode-Java/.idea/*
LeetCode-Java/target/*
LeetCode-Java/out/*
LeetCode-Java/*.iml
